# Dependencias
node_modules/

# Build generado por Vite
dist/

# Logs
*.log
npm-debug.log*

# Variables de entorno
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
